<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CRUD MINI PROJECT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- As a heading -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-md text-center">
        <a class="navbar-brand" href="/">CRUD MINI PROJECT</a>
      </div>
    </nav>

    <div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
        <h2 class="text-white bg-dark text-center p-2">
            Insert Student Data
        </h2>
        <br />
        <form action="/insert" method="POST">{% csrf_token %}
            <div class="form-group">
            <input
                type="text"
                placeholder="Enter the student name"
                class="form-control"
                name="name"
                required
            />
            <input
                type="email"
                placeholder="Enter the student email"
                class="form-control mt-2"
                name="email"
                required
            />
            <input
                type="number"
                placeholder="Enter the student age"
                class="form-control mt-2"
                name="age"
                required
            />
            </div>

            <div class="form-group">
            <label for="Gender">Gender</label>
            <select class="form-control" id="gender" name="gender" required>
                <option selected>Choose...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Non_Binary">Non Binary</option>
            </select>
            </div>
            <br />
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        </div>
        <div class="col-md-8">
            <h2 class="text-center text-white bg-dark">Student Details</h2>
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td scope="row">{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.age}}</td>
                    <td>{{d.gender}}</td>
                    <td>
                        <a type="button" href="/edit/{{d.id}}" class="btn btn-outline-primary">Edit</a>
                    </td>
                    <td>
                        <a type="button" href="/delete/{{d.id}}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
            </table>
        </div>
    </div>
    </div>
</body>
</html>
